article.entry
    .page-header
        h1
            if article.link
                a.external(href="#{article.link}") #{article.title}
            elif not article_page
                a(href="#{SITEURL}/#{article.url}") #{article.title}
            else
                #{article.title}
        p.meta.sub
            a(href="#{SITEURL}/#{article.url}"): small Posted on #{article.locale_date}

    .page-content
        .post
            = article.content|safe
            if article.link and article_page
                p
                    a.external(href="#{article.link}") #{article.title}
